.DS_Store
node_modules
cdk.out
yarn-error.log
.dist
.env
cdk.context.json
cdk.outputs.json
sagas
pages
workers
tests
local-tests
.prettierignore                  
.prettierrc 
README.md
docs/*
!yarn.lock
cli/*