---
title: Query Parameters
layout: false
---

<script context="module">
	export let data = {};

	export async function load(request) {
		data = request.queryStringParameters || {};
	}
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

# {title}

<code>
	{JSON.stringify(data, null, 4)}
</code>

<style>
</style>