---
title: Set cookies
layout: false
---

<script context="module">
	export async function load(request, response) {
		response.cookies = ['my_cookie=HelloWorld; Path=/; Expires=Wed, 15 Mar 2030 15:59:59 GMT']	
	}
</script>

<svelte:head>
	<title>{title}</title>
</svelte:head>

# {title}

<style>
</style>